<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <div class = "top-bar">
        <ul class = "menu">
          <li>
          <a href "#">
            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
            <font size = "5"> <b>Twitter</b></font>
          </a>
          </li>
        </ul>
      </div>
    </header>
      <%= yield %>
  </body>
</html>
